doctype html
head(lang='fr')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  link(rel='icon', href='assets/favicon.ico')
  unless development
    link(rel='stylesheet', href='build/index.css')
  title Codecast
  style.
    @keyframes pt-spinner-animation{
        from{
            transform:rotate(0deg);
        }
        to{
            transform:rotate(360deg);
        }
    }
body(id='app')
  div(id='react-container')
    div(style="position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center")
      div(style="animation: pt-spinner-animation 500ms linear infinite")
        svg(width="50" height="50" stroke-width="8.00" viewBox="1.00 1.00 98.00 98.00" style="display: block")
          path.bp6-spinner-track(d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90", style= "stroke: rgba(95, 107, 124, 0.2); fill-opacity: 0")
          path.bp6-spinner-head(
            d="M 50,50 m 0,-45 a 45,45 0 1 1 0,90 a 45,45 0 1 1 0,-90"
            pathLength="280"
            stroke-dasharray="280 280"
            stroke-dashoffset="210"
            style="stroke: rgba(95, 107, 124, 0.8); fill-opacity: 0; stroke-linecap: round; transform-origin: center; transition: stroke-dashoffset 200ms cubic-bezier(0.4, 1, 0.75, 0.9)"
          )

  if development
    script(type='module', src=rebaseUrl('@vite/client'))
    script(type='module').
      import RefreshRuntime from "!{rebaseUrl('@react-refresh')}"
      RefreshRuntime.injectIntoGlobalHook(window)
      window.$RefreshReg$ = () => {}
      window.$RefreshSig$ = () => () => {}
      window.__vite_plugin_react_preamble_installed__ = true
    script(type='module', src=rebaseUrl('frontend/index.tsx'))
    each file in files
      script(type='text/javascript', src=rebaseUrl('build/' + file))
  else
    script(type='module', src=rebaseUrl('build/index.modern.js'))
    each file in files
      script(type='text/javascript', src=rebaseUrl('build/' + file))
  script(type='text/javascript').
    window.addEventListener('load', () => {
      Codecast.start(!{JSON.stringify(options)})
    })
