doctype html
head(lang='fr')
  meta(charset='utf-8')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title Codecast
body(id='app')
  div(id='react-container')
    div(style='width: 256px; height: 256px; margin: 0 auto;')
      img(src=rebaseUrl('assets/loading.gif'))
  script(type='text/javascript', src=rebaseUrl('build/index.js'))
  script(type='text/javascript', src=rebaseUrl('build/jquery.min.js'))
  script(type='text/javascript', src=rebaseUrl('build/raphael.min.js'))
  script(type='text/javascript', src=rebaseUrl('build/jschannel.js'))
  script(type='text/javascript', src=rebaseUrl('build/blocklyRobot_lib-1.0.0.js'))
  script(type='text/javascript', src=rebaseUrl('build/delayFactory-1.0.js'))
  script(type='text/javascript', src=rebaseUrl('build/raphaelFactory-1.0.js'))
  script(type='text/javascript', src=rebaseUrl('build/conceptViewer-1.0-mobileFirst.js'))
  script(type='text/javascript') Codecast.start(!{JSON.stringify(options)})
